1.Fundamental Data Type

In [1]:
#comment

In [2]:
1+1

2

In [3]:
1-3

-2

In [4]:
2*3

6

In [5]:
1/2

0.5

In [6]:
2**4 # power

16

In [7]:
4%2 # mod

0

In [8]:
5%2 # mod

1

Arithmetic Operators

In [9]:
2+10*10+3

105

In [10]:
2+(10*10)+3

105

Variables

In [11]:
name_of_var = 2

List is a collection which is ordered and changeable. Allows duplicate members.

In [12]:
li1 = list(range(1,10,2))
li1

[1, 3, 5, 7, 9]

In [13]:
li1.append(11)

In [14]:
li1

[1, 3, 5, 7, 9, 11]

In [15]:
li1.pop()

11

In [16]:
li1

[1, 3, 5, 7, 9]

In [17]:
li1[2] # index 2

5

In [18]:
li1[-1] # last element

9

In [19]:
li1[1:3] # [start:stop:step]

[3, 5]

In [20]:
li1[3:]

[7, 9]

In [21]:
li1[-1] = 100

In [22]:
li1[3:]

[7, 100]

Dictionary is a collection of key-value pairs.

In [23]:
d = {'key1':'value1','key2':'value2'}

In [24]:
d['key1']

'value1'

In [25]:
# find the key by value
for key, value in d.items():
    if value == 'value1':
        print(key)

key1

In [26]:
d2 = {'k1':[1,2,3]}
d2['k1'][1]

2

Tuples is a collection which is ordered and unchangeable. Allows duplicate members.

In [27]:
t = (1,2,3)
t[0]

1

In [28]:
t[0] = 100 # tuple is immutable

TypeError: 'tuple' object does not support item assignment

Sets is a collection which is unordered and unindexed. No duplicate members.

In [29]:
_set = {1,2,3}
_set

{1, 2, 3}

In [30]:
s = {1,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3}
s

{1, 2, 3}

In [31]:
# list to set
lis1 = [1,2,3,3,3,3,3,3,3,3,3,3,3,3,3]
s2 = set(lis1)
s2

{1, 2, 3}

In [3]:
# List comprehension
li2 = [x**2 for x in range(1,10)]
print(li2)
li3 = [x**2 for x in range(1,10) if x%2 == 0]
print(li3)

# Functions
def my_func(name='Default Name'):
    print('Hello ' + name)

my_func('John')

my_func()

def square(num):
    """
    This is a docstring
    """
    return num**2

output = square(2)
print(output)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 16, 36, 64]
Hello John
Hello Default Name
4

In [4]:
# Lambda expression
square = lambda num: num**2
square(2)

4

In [5]:
# Map and Filter
my_list = [1,2,3,4,5]
map(square,my_list)
list(map(square,my_list))

[1, 4, 9, 16, 25]

In [7]:
my_list = [1,2,3,4,5]
filter(lambda num: num%2 == 0,my_list)
list(filter(lambda num: num%2 == 0,my_list))

[2, 4]