1.Fundamental Data Type

In [12]:
#comment

In [13]:
1+1

2

In [14]:
1-3

-2

In [15]:
2*3

6

In [16]:
1/2

0.5

In [17]:
2**4 # power

16

In [18]:
4%2 # mod

0

In [19]:
5%2 # mod

1

Arithmetic Operators

In [20]:
2+10*10+3

105

In [21]:
2+(10*10)+3

105

Variables

In [ ]:
name_of_var = 2

List is a collection which is ordered and changeable. Allows duplicate members.

In [15]:
li1 = list(range(1,10,2))
li1

[1, 3, 5, 7, 9]

In [16]:
li1.append(11)

In [17]:
li1

[1, 3, 5, 7, 9, 11]

In [18]:
li1.pop()

11

In [19]:
li1

[1, 3, 5, 7, 9]

In [20]:
li1[2] # index 2

5

In [21]:
li1[-1] # last element

9

In [22]:
li1[1:3] # [start:stop:step]

[3, 5]

In [23]:
li1[3:]

[7, 9]

In [25]:
li1[-1] = 100

In [26]:
li1[3:]

[7, 100]

Dictionary is a collection of key-value pairs.

In [32]:
d = {'key1':'value1','key2':'value2'}

In [33]:
d['key1']

'value1'

In [35]:
# find the key by value
for key, value in d.items():
    if value == 'value1':
        print(key)

key1

In [30]:
d2 = {'k1':[1,2,3]}
d2['k1'][1]

2

Tuples is a collection which is ordered and unchangeable. Allows duplicate members.

In [36]:
t = (1,2,3)
t[0]

1

In [37]:
t[0] = 100 # tuple is immutable

TypeError: 'tuple' object does not support item assignment